.form-group {
  width: 100%;
  height: auto;
  padding: 20px;
}


form {
  margin-bottom: 20px;
}

.form-check-label {
  padding-left: 20px;
  margin: 5px 0px 5px 0px;
}

button.btn-info {
  margin: 20px;
}
.btn {
  display: block;
}
